@use './src/scss/swish' with (
  $css--reset: true, // prevents reset css being rendered,
  $css--reset-animations: true
);

// @use './src/swish.scss';

@use "sass:map";

.integrationTest {
  padding: swish.$btn-padding;
  @each $name, $breakpoint in swish.$breakpoints {
    @media (min-width: $breakpoint) {
      margin: 1em;
    }
  }
}

.btn {
  @include swish.component-button-base();
}

